body{

    background-color: #212121;
    font-family: 'Raleway', sans-serif;
}
.container{
    padding-bottom: 30px;
    width: 100%;
}
h2{
    color:#EEEEEE;
}

legend{
    color:#E0E0E0;
}
.contenedor{
    background: rgba(66,66,66,0.4);
    margin: 10px auto;
    padding-bottom:40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px; 
    box-shadow: 0px 0px 20px 2px #337ab7;
    border:1px solid white;        
}

#txtnavbar{    
    color:white;
    text-shadow:2px 3px 5px #337ab7;
}
span.input-group-addon{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
#redondo{
 border:2px solid #337ab7 ;
}
/*Estilo para los campos que tengan el atributo de validacion required*/
input:invalid{
    box-shadow: 0px 0px 5px 2px #F78181;
}
input:valid{
    
    box-shadow: 0px 0px 5px 2px #9FF781;
}
#listaOpciones,#listaOpciones2,#listaOpciones3,#listaOpciones4,#listaOpciones5{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; 
}

 table {
    background: #337ab7;
    
}
table th{
    background:#EEEEEE;
    text-align: center;
}

table tr,td:hover{
   color:#212121;
   
}
table td{
    color:#212121;
    
}
nav ul li{
    display:inline-block;
}
div.navbar{
    height: 20px;
}
.titulo{
    color:white;
    margin:30px 0px;
    font-size: 60px;
    text-align: center;
    text-shadow:2px 3px 10px #337ab7;
    
    
    
}
#contenedor2,#contenedor3{
    
    
    background: #616161;
    
}
div.collapse>ul.nav>li>a:hover{
    background:#337ab7;
    color:#EEEEEE;
}
#contenedor3{
    background:#9E9E9E ;
}
#contenedor4{
    background: #E0E0E0;
    
}
#contenedor5{
    
}

